<!-- views/orizioFront -->
<!doctype html>
<html>
  <head>
    <head>
      <title>Oriz.io</title>
      <style>
        * { margin: 0; padding: 0; box-sizing: border-box;}
        body { font: 13px Helvetica, Arial;}
        #SubmissionBoxes {position:absolute; bottom: 0; border-style:solid; width:640px;}
        form { background: #000; padding: 3 px; position: relative; bottom: 0;}
        form input { border: 0; padding 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; border-style:solid;
          width:640px;overflow-y:scroll; position:absolute; top:410px; bottom:90px;}
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        #map {}
        #orizioWrapper{width:640px; margin:auto; position: relative; height: 100vh;}
      </style>
    </head>
    <body>
      <div id="orizioWrapper">
      <div id="map">
        <canvas id="mapCanvas" width="640" height="400">
      </div>
      <ul id="messages"></ul>
      <div id="SubmissionBoxes">
        <form id="Chatter" action="">
          <input id="c" autocomplete="off" /><button>Send</button>
        </form>
      </div>
    </div>
      <script src="http://localhost:3000/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script type="text/javascript" src="http://localhost:8080/paper/paper-full.js"></script>
      <script>
        //Load the graphics
        var c = document.getElementById("mapCanvas");
        paper.setup(c);
        //Load in paper tools
        var paperTool = new paper.Tool();

        var map = new paper.Raster("http://localhost:8080/manorMap.png");
        map.position = paper.view.center;
        //Button for the front walk.
        var frontWalkButton = new paper.Rectangle(new paper.Point(291, 250), 80);
        var fWBPath = new paper.Path.Rectangle(frontWalkButton);
        fWBPath.selected = true;
        //Button for the foyer.
        var foyerButton = new paper.Rectangle(new paper.Point(291, 168), 80);
        var fPath = new paper.Path.Rectangle(foyerButton);
        fPath.selected = true;
        //Button for the Sitting Room.
        var sittingRoomButton = new paper.Rectangle(new paper.Point(373, 168), 80);
        var sRBPath = new paper.Path.Rectangle(sittingRoomButton);
        sRBPath.selected = true;
        //Button for the front walk.
        var diningRoomButton = new paper.Rectangle(new paper.Point(212, 168), 80);
        var dRPath = new paper.Path.Rectangle(diningRoomButton);
        dRPath.selected = true;
        //Button for the front walk.
        var kitchenButton = new paper.Rectangle(new paper.Point(212, 85), 80);
        var kPath = new paper.Path.Rectangle(kitchenButton);
        kPath.selected = true;

        window.onload = function(){
          //Handle canvas clicks.
          paperTool.onMouseDown = function(event){
            if(fWBPath.contains(event.point)){
              console.log('The Front Walk was clicked.');
            }
            if(fPath.contains(event.point)){
              console.log('The Foyer was clicked.');
            }
            if(sRBPath.contains(event.point)){
              console.log('The Sitting Room was clicked.');
            }
            if(dRPath.contains(event.point)){
              console.log('The Dining Room was clicked.');
            }
            if(kPath.contains(event.point)){
              console.log('The Kitchen was clicked.');
            }
          }
          paper.view.update();
        }
        $(function () {
          //Handle socket related stuff
          var socToken = '<%= socToken %>';
          //Talk to passport and figure out who I am.
          //Have socket ask for a token.
          var socket = io.connect('http://localhost:3000', {
            query: {token : socToken}
          });
          $('#Chatter').submit(function(){
            socket.emit('chat message', $('#c').val());
            $('#c').val('');
            return false;
          });
          /**
          $('#Mover').submit(function(){
            socket.emit('char move', $('#m').val());
            $('#m').val('');
            return false;
          });
          **/
          socket.on('chat message', function(msg){
            $('#messages').append($('<li>').text(msg));
            updateScrollbar();
          });
        });
        //Function to handle the scrollbar
        function updateScrollbar(){
            var element = document.getElementById('messages');
            element.scrollTop = element.scrollHeight;
        }
      </script>
    </body>
  </html>
