<!-- views/orizioFront -->
<!doctype html>
<html>
  <head>
    <head>
      <title>Oriz.io</title>
      <style>
        * { margin: 0; padding: 0; box-sizing: border-box;}
        body { font: 13px Helvetica, Arial;}
        #SubmissionBoxes {position:absolute; bottom: 0; border-style:solid; width:640px;}
        form { background: #000; padding: 3 px; position: relative; bottom: 0;}
        form input { border: 0; padding 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #messages { list-style-type: none; margin: 0; padding: 0; border-style:solid;
          width:535px;overflow-y:scroll; position:absolute; top:410px; bottom:50px;
          left: 105px;}
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        #map {}
        #orizioWrapper{width:640px; margin:auto; position: relative; height: 100vh;}
        #userList{list-style-type: none; margin: 0; padding: 0; border-style:solid;
          width:100px;overflow-y:scroll; position:absolute; top:410px; bottom:50px;}
      </style>
    </head>
    <body>
      <div id="orizioWrapper">
      <div id="map">
        <canvas id="mapCanvas" width="640" height="400">
      </div>
      <ul id="messages"></ul>
      <ul id="userList"></ul>
      <div id="SubmissionBoxes">
        <form id="Chatter" action="">
          <input id="c" autocomplete="off" /><button>Send</button>
        </form>
      </div>
    </div>
      <script src="http://localhost:3000/socket.io/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script type="text/javascript" src="http://localhost:8080/paper/paper-full.js"></script>
      <script>
        //Clientside data
        //Array of valid exits - prevent the user from clicking exits that don't work.
        var validExits = [];
        var playerTokenPos;
        //Load the graphics
        var c = document.getElementById("mapCanvas");
        paper.setup(c);
        //Load in paper tools
        var paperTool = new paper.Tool();
        //Load images
        var map = new paper.Raster("http://localhost:8080/mapA.png");
        map.position = paper.view.center;
        map.scale(2);

        //Adacross Icon
        var adacrossIcon = new paper.Raster("http://localhost:8080/adacross1.png");
        adacrossIcon.scale(2);
        adacrossIcon.position = new paper.Point(296,230);
        var trainingGroundIcon = new paper.Raster("http://localhost:8080/Training1.png");
        trainingGroundIcon.scale(2);
        trainingGroundIcon.position = new paper.Point(140,230);
        var graniteSpireIcon = new paper.Raster("http://localhost:8080/GSpire1.png");
        graniteSpireIcon.scale(2);
        graniteSpireIcon.position = new paper.Point(530,70);
        //Room Selector
        var roomSelectorIcon = document.createElement("IMG");
        roomSelectorIcon.setAttribute("src", "http://localhost:8080/roomSelector.png");
        var roomSelector = new paper.Raster(roomSelectorIcon, new paper.Point(-5000,-5000));
        roomSelector.scale(1.7);
        //Player Pawn
        var playerPawn = new paper.Path.RegularPolygon(new paper.Point(-5000, -5000), 3, 25);
        playerPawn.fillColor = 'blue';

        //ONLOAD
        window.onload = function(){
          //Handle canvas clicks.
          paperTool.onMouseDown = function(event){
            if(adacrossIcon.contains(event.point) && validExits.findIndex(function isExit(exit){return exit==='adacross';})!=-1){
              moveCharacter('adacross');
            }
            if(trainingGroundIcon.contains(event.point) && validExits.findIndex(function isExit(exit){return exit==='trainingField';})!=-1){
              moveCharacter('trainingField');
            }
            if(graniteSpireIcon.contains(event.point) && validExits.findIndex(function isExit(exit){return exit==='graniteSpire';})!=-1){
              moveCharacter('graniteSpire');
            }
          }
          //Handle mouse hovers
          var mousePos;
          //If the mouse moves, record the movement.
          paperTool.onMouseMove = function(event){
            mousePos = event.point;
          }
          paper.view.onFrame = function(event){
            //Move the room selector

            var roomSelected = false;
            if(adacrossIcon.contains(mousePos) && validExits.findIndex(function isExit(exit){return exit==='adacross';})!=-1){
              roomSelector.position = new paper.Point(296,230);
              roomSelected = true;
            }
            if(trainingGroundIcon.contains(mousePos) && validExits.findIndex(function isExit(exit){return exit==='trainingField';})!=-1){
              roomSelector.position = new paper.Point(140,230);
              roomSelected = true;
            }
            if(graniteSpireIcon.contains(mousePos) && validExits.findIndex(function isExit(exit){return exit==='graniteSpire';})!=-1){
              roomSelector.position = new paper.Point(530,70);
              roomSelected = true;
            }
            if(!roomSelected){
              roomSelector.position = new paper.Point(-5000, -5000);
            }
            //Ensure the player token is in the right place.
            paper.view.update();
          }

          //Socket Related stuff
          //Handle socket related stuff
          var socToken = '<%= socToken %>';
          //Talk to passport and figure out who I am.
          //Have socket ask for a token.
          var socket = io.connect('http://localhost:3000', {
            query: {token : socToken}
          });
          //Send Chat message
          $('#Chatter').submit(function(){
            socket.emit('chat message', $('#c').val());
            $('#c').val('');
            return false;
          });
          //Move character function
          function moveCharacter(dest){
            socket.emit('char move', dest);
          };
          //Receive Chat
          socket.on('chat message', function(msg){
            $('#messages').append($('<li>').text(msg));
            updateScrollbar();
          });
          //Receive Data
          socket.on('data: validExits', function(data){
            validExits = [];
            validExits = data;
          });
          socket.on('data: currRoom', function(data){
            playerTokenPos = data;
            updatePlayerToken();
          });
          socket.on('data: playerList', function(data){
            updatePlayerList(data);
          });
        }
        //Function to handle the scrollbar
        function updateScrollbar(){
            var element = document.getElementById('messages');
            element.scrollTop = element.scrollHeight;
        }
        function updatePlayerToken(){
          if(playerTokenPos==='adacross'){
            playerPawn.position = new paper.Point(296,230);
          }
          if(playerTokenPos==='graniteSpire'){
            playerPawn.position = new paper.Point(140,230);
          }
          if(playerTokenPos==='trainingField'){
            playerPawn.position = new paper.Point(530,70);
          }
        }
        function updatePlayerList(_playerList){
          var playerList = _playerList;
          $('#userList').empty();
          for(var i=0;i<playerList.length;i++){
            $('#userList').append($('<li>').text(playerList[i]));
          }
        }
      </script>
    </body>
  </html>
